@font-face {
    font-family: "Serif Gothic";
    src: url(assets/fonts/itc-serif-gothic-regular-588cef4e7134b.otf);
}

@font-face {
    font-family: "Serif Gothic Extra Bold";
    src: url(assets/fonts/itc-serif-gothic-extra-bold-588cef7e1f5d9.otf);
}

body {
    font-family: "Serif Gothic";
    background-color: #000000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 1.5rem;
}

h1 {
    color: #FFA500;
    font-family: "Serif Gothic Extra Bold";
    font-size: 5.0em;
    margin: 0;
}

audio {
    width: 100%;
    max-width: 700px;
    
    &::-webkit-media-controls-panel { /* fundo */
        background-color: #002950;
    }

    &::-webkit-media-controls-play-button { /* botao de play */
        background-color: #e68830;
        border-radius: 50%;
    }
    
    &::-webkit-media-controls-play-button:hover { /* hover do botao de play */
        background-color: #a55e1c;
    }
    
    &::-webkit-media-controls-current-time-display { /* tempo faltando */
        color: #fff;
    }
    
    &::-webkit-media-controls-time-remaining-display { /* tempo restante */
        color: #fff;
    }
    
    &::-webkit-media-controls-timeline { /* linhazinha de progresso */
        background-color: #e68830;
        border-radius: 1.3rem;
        margin-left: 0.6rem;
        margin-right: 0.4rem;
        width: 50%;
    }
    
    &::-webkit-media-controls-mute-button { /* botao mutar */
        background-color: #e68830;
        border-radius: 50%;
    }
    
    &::-webkit-media-controls-mute-button:hover { /* botao mutar hover */
        background-color: #a55e1c;
    }
    
    &::-webkit-media-controls-volume-slider { /* volume, aparece qnd da hover no mutar */
        background-color: #e68830;
        border-radius: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.texts {
    padding: 1.5rem;
    margin: 2rem;
    background-color: #252525;
    border-radius: 1.5rem;
}

.texts summary {
    color: rgb(255, 111, 111);
    font-size: 1.8em;
}

.texts h2 {
    font-size: 2.2em;
    color: #FFA500;
}

.texts img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.texts p {
    text-align: justify;
    font-size: 1.2em;
}

.texts li {
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2em;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 3.0rem;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.0rem;
    padding: 0.75rem;
}

.button {
    transition: 300ms;
    padding: 0.8rem;
    background-color: #252525;
    border-radius: 0.8rem;
    min-width: 7.5rem;
    max-width: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.button p {
    font-size: 1.4em;
}

.button:hover {
    transition: 300ms;
    transform: scale(1.05);
}

a {
    color: rgb(109, 124, 212);
    cursor: pointer;
    text-decoration: none !important;
}

footer {
    background-color: #0f0f0f;
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 1.3em;
}
